*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-indent: 20px;
}


.titulo > a{
    font-size: 32px;
    border: 2px solid #fff;
    padding: 20px;
    letter-spacing: 3px;
    color: #fff;
    display: inline-block;
}


.titulo > a:hover{
    background-color: rgba(98, 98, 98, 0.5);

}

.upper{
    color: crimson;
    font-size: 24px;
}

.container p{
    line-height: 1.5;
}

section:nth-of-type(1){
    height: 100vh;
    background: url(assets/natureza.jpeg) center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


section:nth-of-type(3){
    height: 400px;
    background: url(assets/praia.jpeg) center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

section:nth-of-type(5){
    height: 400px;
    background: url(assets/montanhas.jpeg) center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

section:nth-of-type(7){
    height: 400px;
    background: url(./img/Florestas.jpg) center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.btn-absolute{
    position: fixed;
    bottom: 20px;
    right: 20px

}

.btn-absolute a i{
    font-size: 32px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
}